.text-center {
    text-align: center;
}

.spacer {
    margin-bottom: 30px;
}
@media (max-width:768px) {
    .spacer {
        margin-bottom: 4vw;
    }
}

.sticky-footer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.full-width {
  width: 100%;
}

.even{
  background: #fafafa;
}

.container-padding{
  padding-left:50px;
  padding-right:50px;
  padding-top:30px;
}
.title-m{
  font-size:18px;
  font-weight:800;

}

.tel-width{
  width:70px !important;
  display:inline-block;
}

//가로, 세로 가운데 맞춤
.grid-center{
  display: grid;
  justify-content: center;
  align-items: center;
}

//커서 포인터
.cursor-pointer{
  cursor:pointer;
}
.mt-10{
  margin-top:10px !important;
}

.title-m{
  padding-left: 15px;
  margin-bottom: 20px;
}

.form-error {
  font-size: 12px;
  color: cadetblue;
}

.input-error {
  border: 1px solid orangered;
}
//필수항목*
.validate-required{
  color: crimson;
  padding-left: 2px;
}

.btn-submit {
  width: 100%;
  padding: 14px 12px;
  font-size: 18px;
  font-weight: 300;
  background: skyblue;
  color: white;
  border-radius: 3px;
  border:none;
  cursor: pointer;
  &:hover {
    background: darken(#60BD4F, 10%);
  }
  &:disabled {
    background: lighten(#60BD4F, 25%);
    cursor: not-allowed;
  }
}

.page-wrapper {
  animation-duration: 0.2s;
  @media (max-width: 768px) {
    padding:0 5%;
  }
}

.flex{
  display:flex;
}
.items-center{
  align-items: center;
}




.toast{
  z-index:31;
  position:relative;
}


//색상
.dark-grey{
  color: white;
  background: darkgrey;
}
.aliceblue{
  color: #1e1e1e;
  background: aliceblue;
}




//버튼
.option-btn {
  width: 100%;
  margin: 20px 0;
  font-size: 15px;
  padding: 10px 15px;
  color: white;
  background: cornflowerblue;
  border-radius: 3px;
}

.body-content-40 {
  padding: 40px;
}
.body-content-ud-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.body-content-ud-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.body-content-lr-40 {
  padding-left: 40px;
  padding-right: 40px;
}







.color-square-wrap{
  cursor:pointer;
  float: left;
  margin: 10px;
  padding: 6px;
  border: 1px solid darkgray;

}
.color-square{
  width:30px; height:30px;
  border: 1px solid darkgray;

}

.selectedColor{
  outline: 4px solid black;
}
#color-wrap1{
  padding: 8px 5px;
  font-size: 16px;
}
