// CARDS ======================================== //
.card {
  position: relative;
  overflow: hidden;

  &__image{
    width: 100%;
    height: 100%;
  }

  &:hover {
    .card__overlay {
      transform:translateX(0);
      transition-delay: 0s;
    }

    h3,
    .button{
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__overlay {
    position:absolute;
    left:0;
    top:0;
    z-index:5;
    width:100%;
    height:100%;
    background-color: rgba($body-text-color, 0.4);
    padding:4rem;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    transform: translateX(-100%);

    @include transition($property: transform);

    transition-delay: 1s;

    h3 {
      color:$off-white-color;
      margin-bottom:2rem;
    }

    h3,
    .button{
      opacity: 0;
      transform:translateY(4rem);
      @include transition;
    }

    h3 {
      transition-delay:.3s;
    }

    .button {
      transition-delay: 0.9s;
    }
  }
}
