// FOOTER =================================== //
.footer {
  background-color:$footer-bg-color;
  padding: 4rem 0;

  .dflex {
    @include respond(md) {
      display:flex;
    }
  }

  &__copyright {
    color: $off-white-color;
    margin-bottom: 2rem;
  }

  &__copyright,
  &__social {
    text-align: center;
  }

  &__social {
    a:not(:last-child) {

      margin-right:1.4rem;
    }
    i {
      color: $off-white-color;
    }

    a:hover i {
      color:$accent-color;
    }
  }
}
