/*
=================================================
                  TYPOGRAPHY
=================================================
*/

p {
  margin-bottom: 1.6rem;
  &:last-of-type {
    margin-bottom: 0;
  }
}

h1,
h2,
h3 {
  font-family: $body-font-family;
  color: inherit;
  font-weight: $bold-weight;
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
  line-height: 1.2;
}

h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}

.section-heading {
  margin-bottom: $section-default-spacing - 1.5rem;
  position: relative;

  .intro-bg {
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: $bold-weight;
    letter-spacing: $letter-spacing;
    opacity: 0.06;

    @include respond(md) {
      font-size: 6.5rem;
    }
    @include respond(lg) {
      font-size: 8rem;
    }
  }

  h2 {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
