@media (max-width:768px) {
    .container{
        padding-left:0;
        padding-right:0;
    }
}
.auth-pages {
    margin: 100px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
    min-height: 60vh;

    input {
        border: 1px solid $text-color-light;
        padding: 16px 10px;
        border-radius: 5px;
        width: 100%;
        font-size: 14px;
        margin-bottom: 30px;
    }
    @media (max-width:768px) {
        input {
            margin-bottom:6vw;
        }
    }

    input[type="checkbox"] {
        width: auto;
    }

    .login-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    a{
        color: coral;
        font-weight: 500;
    }
    @media (max-width:768px) {
        .login-container {
            display: block;
            input{
                margin-bottom: 4vw;
            }
        }

    }
    .auth-button {
        background: $text-color;
        color: $white;
        border-radius: 5px;
        padding: 12px 50px;

        &:hover {
            background: lighten($text-color, 10%);
        }
    }
    @media (max-width:768px) {
        .auth-button {
            width:100%;
            display: block;
            margin-bottom: 4vw;
        }
    }
    .auth-button-hollow {
        background: white;
        color: $text-color;
        border-radius: 5px;
        border: 1px solid $text-color;
        padding: 12px 50px;

        &:hover {
            background: $text-color;
            color: $white;
        }
    }
    @media (max-width:768px) {
        .auth-left{
            margin-left:15px;
            margin-right:15px;
            margin-top: 7vw;
        }
    }
    .auth-right {
        border-left: 1px solid $separator-color;
        padding-left: 100px;
        h2{
            margin-bottom:35px;
        }
    }
    @media (max-width:768px) {
        .auth-right {
            border-left: none;
            padding: 15px;
            padding-bottom:30px;
            background: #f1efeb;
        }
    }

    .already-have-container {
        text-align: right;
    }

}
@media (max-width:768px) {
    .auth-pages {
        grid-template-columns: 1fr;
        margin: 0 auto;
        grid-gap:15vw;
    }
}


/*******register.blade*******/
@media (max-width:768px) {
    .register-auth {
        margin:15px;
        input{
            padding:21px 10px;
        }
    }

}
