.demo-2{
    padding-top: 144px;
}
@media (max-width: 700px) {
    .demo-2{
        max-width:100vw;
        padding-top: 0;
    }
}
.featured-section {


    .products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 60px 20px;
        .product-price {
            color: $text-color-light !important;
        }
    }
    @media screen and (max-width:768px) {
      .products {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px 20px;
      }
    }
    .product {
        text-align:left;
        .product-name{
            padding-top: 6px;
        }
        .product-name,.product-price{
            padding-left:4px;
        }
    }
    #view-more-btn{
        text-align: left !important;
        margin: 0 0;
        margin-top: 50px;
        margin-bottom:100px;
    }
}

.blog-section {
    background: $light-gray-background;
    border-top: 1px solid $separator-color;
    padding: 50px 0;
    grid-area: blog-section;

    .blog-posts {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: $gutter;
        margin: 60px 0 60px;
        grid-template-areas:
        "blog1 blog2 blog3";

        #blog1 {
            grid-area: blog1;
        }

        #blog2 {
            grid-area: blog2;
        }

        #blog3 {
            grid-area: blog3;
        }
    }

}
.a-white{ color:white !important;
    &:hover{
        color:cornsilk !important;
    }
}
#app .fa-instagram{
    color: darkgray;

    font-size: 2.4em;
}
.popup, .story_popup {
    position:fixed;
    display:none;
    width:100%; height:100%;
    top:0; left:0;
    bottom:0; right:0;
    text-align:center; z-index:10000;
    background-color:rgba(0,0,0,0.85);
}
@media screen and (max-width:768px) {
    #mmcc {
        padding-left: 0;
        padding-right: 0;
    }
}
.popup .popupImage, .story_popup .story_popupImage {
    position: absolute;
    width:320px; top: 50%;
    left: 50%; margin-left: -160px;
    margin-top: -200px;
}
.popup .popupImage img {
    width:320px;
    border-radius: none;
}
@media screen and (max-width:768px) {
    .popup .popupImage img {
        width:75%;
    }
}

.popup a, .story_popup a {
    width:70px; height:40px;
    position:absolute; z-index:51;
}
.popup a.close, .story_popup a.close {
    top: 0;
    right: 0;
    margin-right: -90px;
}
.popup a.close img, .story_popup a.close img {width:80%;}
.popup a.left, .story_popup a.left {
    width:70px; top:50%;
    left:0%;
    margin-left: -150px;
    margin-top:-62.5px;
}
.popup a.right, .story_popup a.right {
    width:70px; top:50%;
    right:0%;
    margin-right: -150px;
    margin-top:-62.5px;

}
.popup a img, .story_popup a img { width:100%; }


@media screen and (max-width:768px){
    .popup a.close img, .story_popup a.close img {width:70%;}
    .popup .popupImage, .story_popup .story_popupImage{
        width:100%;     position: absolute;
        top:18%; margin-top:0;
        left:0; margin-left:0;
    }
    .popupImage img {
        width:92%;
    }
    #popupimg {
        width:320px;
        height:320px;
    }
    .popup a.close,
    .popup a.close, .story_popup a.close {
        top: -66px;
        right: 0;
        margin-right: 15px;
    }
    .popup a.right, .story_popup a.right {
        width: 40px;


        top:inherit;
        bottom: -66px;
        margin-top: 0px;
        right: 64%;
        display:inline-block;
    }
    .popup a.left, .story_popup a.left {
        width: 40px;
        top:inherit;
        bottom: -66px;
        margin-top: 0px;
        left: 64%;
        display:inline-block;
    }
}

.landing-instar-section{
    background-color: #f1efeb;
    .posts img{
        border-radius: 100%;
    }
    .fa-heart{
        color:#ed4956;
    }
    .instarDivLike, .instarDivComment{
        display:inline-block;
        padding:0 3px;
    }
    ul{
        width:780px;
        height: 460px;
        overflow:hidden;
    }
    @media only screen and (max-width : 768px) {
        ul{
            width:100%;
            height: 125vw;
        }
    }
    li{
        width:220px; margin-bottom:10px;
    }
    @media only screen and (max-width : 768px) {
        li{
            width:48%; margin-bottom: 25vw;
        }
    }
    ul li img{
        box-shadow: 3px 3px 3px #999;
        border-radius: 100%;

    &:hover {
            opacity: 0.9;
            box-shadow: #000 4px 10px 8px ;
            transition: all 0.3s;
            border-radius: 100%;
        }
    }
    .arrow_prev, .arrow_next{
        position:absolute;
        top: 50%;
        margin-top: -46px;
    }

    .arrow_prev{
        left: 50%;
        margin-left: -470px;
    }
    .arrow_next{
        right: 50%;
        margin-right: -470px;
    }
    .arrow_prev, .arrow_next {
        cursor: pointer;
        &:hover{
            opacity: 0.5;
        }
    }
    @media only screen and (max-width : 768px) {
        .arrow_prev, .arrow_next{
            position:absolute;
            top:inherit;
            bottom: 3vw;
            margin-top: -46px;
        }
        .arrow_prev{
            left: 0;
            margin-left: 20vw;
        }
        .arrow_next{
            right: 0;
            margin-right: 20vw;
        }
    }
}
#instarContext{
    width:320px;
    height:60px;
    background-color:white;

}
#instar-profile{
    box-shadow: -9px -2px 17px #aaa;
    border-radius: 30px;
}
@media (min-width: 1024px){
    .instar-container{
        width:60%;
    }
}
.instar-text{
    font-family: 'Jeju Gothic'; font-weight:100;
    line-height:28px; letter-spacing:2px;
    color: #666;
    height: 132px;
    text-overflow: ellipsis;
    overflow: hidden !important;
}
@media only screen and (max-width : 768px) {
  .button-container{
    margin:40px 0;
  }
  .featured-section #view-more-btn{
    text-align: center !important;
  }
}
