.my-profile {

  label {
    display: block;
  }

  .form-control {
    margin-bottom: 30px;
      height: 45px;

  }

  input {
      //border: 1px solid $text-color-light;

      border-radius: 5px;
      width: 44%;
      font-size: 14px;
  }

  .my-profile-button {
      background: $text-color;
      color: $white;
      border-radius: 5px;
      padding: 12px 50px;

      &:hover {
          background: lighten($text-color, 10%);
      }
  }
    .Password{
        margin-top:10px;
    }
}
