.promo {
  padding: 8rem 0;
  color: $off-white-color;
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right, rgba($secondary-color, 0.4), rgba($secondary-color, 0.8)), url("/static/images/commerce/promo-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  .big-text {
    font-size: 8rem;
    font-weight: $bold-weight;
    letter-spacing: $letter-spacing;

    @include respond(lg) {
      font-size: 10rem;
    }
  }

  h1 {
    margin-bottom: 2rem;
  }
}
