.restaurant-list {
  .row {
    margin: 0;
  }

  .card-body {
    padding: 0;
  }

  .card-text {
    padding: 15px;
    &:first-child{
      background: aliceblue;
    }
    &:last-child{
      margin-bottom: 0;
      background: dimgray;
    }
  }
  .card-deck .card {
    margin-bottom: 4rem;
  }
  p {
    margin-bottom: 0;
  }

  .card-deck {
    margin: 0;
  }

  h2 {
    margin-bottom: 2rem;
    font-size: 3rem;
    margin-top: 2rem;
  }

  .container {
    width: 95%;
    max-width: 95%;
    padding: 0;
    @media (min-width: 768px) {
      max-width: 1200px;
    }

  }

  .card-header {
    color: slategrey;
    font-size: 2.6rem;
    letter-spacing: 1px;
    font-weight: bold;
    @media (min-width: 768px) {
      font-size:1.6rem;
    }
  }
  .now {
    font-size: 1.6rem;
    text-align: center;
    font-weight: bold;
  }

  .update {
    color: darkorange;
  }

  .not-update {
    color: crimson;
  }


  padding-top: 11rem;

  @media (min-width: 768px) {
    padding-top: 15rem;

  }


  .full-width {
    width: 100%;
  }

  label {
    display: block;
    margin-top: 6px;
    margin-bottom: 5px;
  }

  .card-deck {
    width: 100%;
    margin-bottom: 30px;
  }

  .form-error {
    font-size: 12px;
    color: cadetblue;
  }

  .tel-wrap {
    display: flex;
  }

  .tel-dash {
    font-size: 2rem;
    margin: 0 1rem;
    height: 45px;
    line-height: 2.2;
  }

  .zip-code {
    width: 10rem;
    vertical-align: bottom;
    margin-bottom: 10px;
    margin-right: 1rem;
  }

  .time {
    margin-top: 12px;
  }

  button[type="submit"] {
    width: 100%;
    border: 3px;
    font-size: 1.7rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
  }

  .addr-btn {
    margin-bottom: 10px;
  }
}
