// Abstracts
//@import 'restaurant/abstracts/variables';
//@import 'restaurant/abstracts/mixins';
//
//// Base
//@import 'restaurant/base/base';
//@import 'restaurant/base/normalize';
//@import 'restaurant/base/typography';
//@import 'restaurant/base/utilities';
@import 'restaurant/base/utilities2';
//@import 'restaurant/base/fonts';
//
//// Layout
//@import 'restaurant/layout/grid';
//@import 'restaurant/layout/header';
//@import 'restaurant/layout/footer';
//
//// Components
//@import 'restaurant/components/buttons';
//@import 'restaurant/components/cards';
//@import 'restaurant/components/carousel';
//@import 'restaurant/components/forms';
//@import 'restaurant/components/modal';
//@import 'restaurant/components/search';
//
//// Pages
@import 'restaurant/pages/restaurant_register';
@import 'restaurant/pages/restaurant_list';
@import 'restaurant/pages/menu_register';
@import 'restaurant/pages/menu_view';
//
//
//
//// Sections
//@import 'restaurant/pages/landing_hero';
//@import 'restaurant/pages/details';
//@import 'restaurant/pages/category';
//@import 'restaurant/pages/products';
//@import 'restaurant/pages/promo';
//@import 'restaurant/pages/blog';





// ABSTRACTS
@import 'mars/abstracts/variables';
@import 'mars/abstracts/mixins';

// BASE
@import 'mars/base/base';
@import 'mars/base/typography';
@import 'mars/base/utilities';

// COMPONET
@import "mars/components/headers";
@import "mars/components/search";
@import "mars/components/buttons";
@import "mars/components/cards";
@import "mars/components/forms";
@import "mars/components/footer";

// LAYOUT
@import "mars/layout/grid";

// PAGES
@import "mars/pages/home";
